# Игнорируем виртуальные окружения Python
venv/
env/
Subtutle/
OpenAI_API/
.vscode/
**/uploads/
**/outputs/
# Игнорируем кеши и временные файлы Python
__pycache__/
*.pyc
*.pyo
*.log

# Системные файлы macOS и SQLite
.DS_Store
*.sqlite3

# Игнорируем библиотеки и зависимости
Subtutle/lib/
Subtutle/lib/python3.11/site-packages/

# Игнорируем специфические большие файлы
Subtutle/lib/python3.11/site-packages/llvmlite/binding/libllvmlite.dylib
Subtutle/lib/python3.11/site-packages/torch/lib/libtorch_cpu.dylib

# Игнорируем файлы конфигурации и загрузки
.env
*.srt
*.sh
.gitignore

# Игнорируем базу данных SQLite
backend/chat.db

# Bolt specific
.bolt/
# Local Netlify folder
.netlify
